# Node / Nest / TS
node_modules/
dist/
build/
coverage/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Env
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Misc
*.swp
